<h1 mat-dialog-title>Save/Load contract:</h1>
<div mat-dialog-content>
  <p></p>
  <div class="chooseOrSaveArea">
    <div class="filterArea">
      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Contract name..."
          #input
        />
      </mat-form-field>
    </div>
    <div class="orArea"></div>
    <div class="saveAsArea">
      <mat-form-field>
        <mat-label>Filename</mat-label>
        <input matInput placeholder="mycontract" [formControl]="saveAsInput" />
      </mat-form-field>
    </div>
    <div class="saveButtonArea">
      <button mat-button type="button" (click)="onSaveAndClose()">
        Save and close
      </button>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Checkbox Column -->
      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let row">
          <mat-radio-button
            (click)="$event.stopPropagation()"
            (change)="$event ? selection.toggle(row) : null"
            [checked]="selection.isSelected(row)"
            [aria-label]="checkboxLabel(row)"
          >
          </mat-radio-button>
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let contract">
          {{ contract }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr
        mat-row
        *matRowDef="let row; columns: displayedColumns"
        (click)="selection.toggle(row)"
      ></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of contracts"
    ></mat-paginator>
  </div>
  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onClose()">Load and close</button>
  </div>
</div>
