.default-color0.chart-bar { -fx-bar-fill: #4040f0; }
.default-color1.chart-bar { -fx-bar-fill: #f04040; }
.default-color2.chart-bar { -fx-bar-fill: #40f040; }
.default-color0.chart-series-area-line { -fx-stroke: #202020; }
.default-color0.chart-line-symbol { -fx-background-color: #202020, white; }

