/* You can add global styles to this file, and also import other style files */
@import url("./node_modules/bootstrap/dist/css/bootstrap.min.css")
html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
